<!--<!DOCTYPE html>-->


<!--<html>-->
<!--<head>-->
<!--    <title>Book List</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>Book List</h2>-->
<!--    <ul>-->

<!--        {% for i in range(len(books)) %}-->
<!--            <li>{{ books[i].subject }} - {{ books[i].volume }} - {{ books[i].edition }} - {{ books[i].author }} - {{ books[i].book_class }} - {{ books[i].age }} - {{ books[i].price }}-->
<!--<form method="POST" action="http://127.0.0.1:8000/delete_book/">-->
<!--        {% csrf_token %}-->
<!--    <button type="submit" class="btn btn-secondary"}>Already given? Delete it now!</button>-->

<!--</form>-->
<!--                </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->

<!--</html>-->